	body{
		margin:0;
		padding:0;
		height: 100%;
		background-color: #fff;
		font-family: arial;
	}

	.container{
		position:relative;
		min-height:100%;
		position:relative;
		padding: 0px;
		margin: 0px;
		padding-bottom: 150px;
	}

	.panel-banner{
		height: 600px;
	}
	.panel-banner.img{
		width: 100px;
		height: 250px;
		background-size: cover;
	}
	.panel-info{
		height: auto;
		width: 100%;
		background-color: #fff;
		position: relative;
	}
	.panel-info .title{
		background: #393939;
		font-size: 50px;
		color: #fff;
	}
	.panel-info .panel-content{
		margin: 10px;
	}

	.panel-info .panel-content .content-title{font-size: 35px;}

	.panel-info .panel-content .content-description{
		position: relative;
	}
	.panel-info .panel-content .content-description .content-img{
	}	
	.panel-info .panel-content .content-description .description{
		width: 65%;
		font-size: 20px;
		float: right;
	}	
	.panel-info .panel-content .content-description .content-img{
		width: 30%;
		padding-right: 20px;
	}

	.panel-menu{
		position: relative;
		padding: 30px;
	}

	.panel-menu .menu{
		position: relative;
		height: 150px;
		width: 25%;
		/* border: 1px solid #000; */
		background-color: #25d81a;
		padding: 20px;
		font-size: 30px;
		text-align: center;
		color: #fff;
	}

	.panel-menu .menu .icon{
	}

	.panel-menu .menu .icon img{
	}


	.main-menu{
		position: absolute;
		bottom:0;
		width:100%;
		height: 100px;
		padding: 10px;
		background:#6cf;
	}
	.main-menu .menu{
		width: 50%;
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		/* padding: 14px; */
		text-decoration: none;
		font-size: 17px;
	}

	.panel-menu .menu-icon{
		width: 100px;
		height: 100px;
	}